.ui-icon-my-fr-flag {
    background: url("/images/fr.png");
    background-repeat: no-repeat;
    background-position: 1px 3px;
}

.ui-icon-my-gb-flag {
    background: url("/images/gb.png");
    background-repeat: no-repeat;
    background-position: 1px 3px;
}

.ui-icon-fr-flag {
    background: url("/images/fr.png");
    background-size: 18px 18px;
    background-color: black;
}

.ui-icon-en-flag {
    background: url("/images/en.png");
    background-size: 18px 18px;
    background-color: black;
}